#!/bin/bash

MESOS_WORK_DIR_SLAVE=/data/mesos/slave
MESOS_SANDBOX_DIR=/data/mesos/sandbox
ZK_HOSTS=zk://{%- for host in groups['role=master'] -%}
{{ hostvars[host]['private_ipv4'] }}:2181,
{%- endfor %}

ZK_HOSTS=${ZK_HOSTS::-1}

mkdir -p $MESOS_WORK_DIR_SLAVE
mkdir -p $MESOS_SANDBOX_DIR

mesos-slave \
    --master=$ZK_HOSTS/mesos \
    --containerizers=docker,mesos
