#!/bin/bash

CONTAINER_NAME=mesos-master
ZK_HOSTS=zk://{%- for host in groups['role=master'] -%}
{{ hostvars[host]['private_ipv4'] }}:2181,
{%- endfor %}

ZK_HOSTS=${ZK_HOSTS::-1}

docker rm -f $CONTAINER_NAME
docker run --name $CONTAINER_NAME \
    -i \
    --net=host \
    {{ mesos_master_image }}:{{ mesos_master_image_tag }} \
		--zk=$ZK_HOSTS/mesos \
		--work_dir=/var/lib/mesos/master \
		--quorum=2 \
		--cluster=mesostest
