#!/bin/bash

MESOS_WORK_DIR_MASTER=/data/mesos/master
CONTAINER_NAME=mesos-master
ZK_HOSTS=zk://{%- for host in groups['role=master'] -%}
{{ hostvars[host]['private_ipv4'] }}:2181,
{%- endfor %}

ZK_HOSTS=${ZK_HOSTS::-1}

mkdir -p $MESOS_WORK_DIR_MASTER

mesos-master \
		--zk=$ZK_HOSTS/mesos \
		--work_dir=/var/lib/mesos/master \
		--quorum=2 \
		--cluster=mesostest
